<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>


    <section class = "banner">
        <img src="/images/banner.jpg" width="100%">
    </section>


    <div class = "categorias">
    <section class = "categoria">

        <h5>basado en tu ultima visita</h5>
        <% if(productos.length ==0 || productos == undefined) { %>
            <div class="empty">
                <h1>AUN NO HAY PRODUCTOS PARA PRESENTAR</h1>
            </div>
        <% } else { %>
        <section class = "articulos">
            <% for(let i = 0; i<productos.length || i>3  ;i++) { %> 

            <article>
                <a href = "./products/product">
                <div class = "imagen">
                    <img src = "/images/<%= productos[i].imagen %>" alt = "" width = "100%">
                </div>
                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$<%= productos[i].precio %> </h3>
                </div>

                <div class = "descuento">
                    <h3> <%= productos[i].descuento %> OFF</h3>
                </div>
            
                 <div class = "nombre">
                    <h3> <%= productos[i].nombre %> </h3>
                </div>
            </a>
            </article>
            <%  } %>
            <%  } %>
    
    </section>
</section>

</div>

<%- include('./partials/footer') %>



</body>
</html>