<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/headercat') %>
        <main>

            <div class = "show-producto">
                <img src="/images/<%= producto.imagen %>" width="100%" id="imagenPrincipal"> 
            <section class="sectionRight">
         
                    <h1><%=producto.nombre %></h1>
                    <h3 class = "descuento"><%=producto.descuento %>% OFF</h3>
                    <h3><%=producto.precio %></h3>
                    <div class="counter">
                        <span class="down" onClick='decreaseCount(event, this)'>-</span>
                        <input type="text" value="1">
                        <span class="up"  onClick='increaseCount(event, this)'>+</span>
                    </div>
                    <button class="product-botton" >Agregar al carrito</button>
                    <p class="cuotas">Hasta 12 cuotas sin interes</p>
                    <button><a href="/products/edit/<%= producto.id%>">Editar</a></button>
                    <form method = "POST" action="/products/delete/<%= producto.id %>?_method=DELETE">
                        <button>Delete</button>
                        </form>

            </section>

        </div>
        </main>

        <%- include('./partials/footer') %>
</body>

</html>